@model UIHRMP.Areas.EmployeeArea.Models.ChangePasswordVM

@{
    ViewData["Title"] = "Şifre Değiştir";
}
    <link rel="icon" type="image/png" href="~/Login_v2/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v2/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v2/css/main.css">
<h1>Şifre Değiştir</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div class="wrap-input100 validate-input" data-validate="Şifre boş bırakılmamalı.">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                <input asp-for="Password" type="password" id="password1" class="input100" name="Password" data-val-required="Mevcut şifre girilmelidir.">
                <span class="focus-input100" data-placeholder="Mevcut Şifre"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Şifre boş bırakılmamalı.">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                <input  asp-for="NewPassword" id="password2" class="input100" type="password" name="NewPassword" data-val-required="Yeni şifre girilmelidir.">
                <span class="focus-input100" data-placeholder="Yeni Şifre"></span>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Şifre boş bırakılmamalı.">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                <input asp-for="NewPasswordControl" id="password3" class="input100" type="password" name="NewPasswordControl" data-val-required="Yeni şifre tekrar girilmelidir.">
                <span class="focus-input100" data-placeholder="Yeni Şifre Tekrar"></span>
                <span asp-validation-for="NewPasswordControl" class="text-danger"></span>
            </div>
            
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button value="Kaydet" class="login100-form-btn">Kaydet</button>
                </div>
            </div>
            <div style="margin-top:10px" class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (TempData["ValidationMessage"] != null)
            {
                <div style="margin-top:10px" class="alert alert-danger" role="alert">
                    @TempData["ValidationMessage"]
                </div>
            }
        </form>
    </div>
</div>
<script>
    function togglePassword1() {
        var element = document.getElementById('password1');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }
    function togglePassword2() {
        var element = document.getElementById('password2');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }
    function togglePassword3() {
        var element = document.getElementById('password3');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



